.comments {
    /* border-top: 1px solid #ccc; */
    margin-top: 15px;
    padding: 20px 0;
}
.comments .articleComment {
    display: flex;
}
.articleComment .img-formComment{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.articleComment .img-formComment img {
    width: 100%;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.articleComment #formComment {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}
.articleComment #formComment input[type="text"] {
    width: 100%;
    border: none;
    padding: 3px 11px;
    margin-bottom: 5px;
    border-radius: 15px;
    outline: none;
    

}
.articleComment #formComment input[type="text"]:focus {
    border: none ;
    border-bottom: 1px solid black !important;
}
.articleComment #formComment input[type="submit"] {
    border: none;
    border-radius: 5px;
    background: #1c3a3a;
    color: white;
}

.listComment {

}
.listComment .countComment {
    font-size: 18px;
    margin-bottom: 10px;
}
.listComment .comment {
    display: flex;
    position: relative;
    padding: 20px 0;
}
.listComment .comment:last-child {
    border-bottom: none;
}
.listComment .comment .commentimg {
    display: block;
    margin-right: 10px;
    margin-top: 6px;
}
.listComment .comment .commentimg img {
    width: 100%;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.listComment .comment .comment-right {
    width: 100%;
}

.listComment .comment .commentbody {
    width: auto;
    max-width: 450px;
    padding: 3px 6px;
    border-radius: 5px;
    position: relative;
}
.listComment .comment .comment-right .form-edit-comment {
    display: none;
    text-align: right;
    
}
.listComment .comment .comment-right .form-edit-comment .cancel-update {
    cursor: pointer;
    font-size: 12px;
}

.listComment .comment .comment-right .form-edit-comment input[type="text"] {
    width: 100%;
    outline: none;
    box-shadow: none;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
}
.listComment .comment .commentbody #commentcontent {
    margin: 0;
}
.listComment .comment .commentbody #commentname {
    font-weight: bold;
    display: block;
    position: relative;
}
.listComment .comment .commentbody #commentname .dropdown-action {
    position: absolute;
    right: -25px;
    top: -3px;

}
.listComment .comment .commentbody #commentname .dropdown-action ul {
    border: 0.3px solid rgb(100 147 247 / 28%);
    background: rgb(24, 32, 49);
}
.listComment .comment .commentbody #commentname .dropdown-action ul li {
    padding: 0 15px;
}
.listComment .comment .commentbody #commentname .dropdown-action button {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
}
.listComment .comment .commentbody #commentname .dropdown-action button:after {
    display: none;
}
.listComment .comment .commentbody #commentname #name {
    color: #5488c7;
    margin-right: 15px;
}
.listComment .comment .commentbody #commentname #commentdel {
    font-weight: normal;
}
.listComment .comment .comment-action-other {
    display: flex;
    margin-top: 10px;
}
.listComment .comment #commenttime {
    font-size: 12px;
    margin-left: 15px;
}

.listComment .comment .comment-action-other a {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}