.name-user {

}
.header-mb-avarta {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* display: none; */
}
#space-10 {
    margin: 0 10px;
}

.header-mb-newblog {
    /* display: none; */
    
}
.header .navbar-search {
    
}
.header .header-mb-search {
    background: transparent;
    border: 2px solid #ccc;
    width: 29px;
    height: 27px;
    margin-top: 12px;
    margin-right: 10px;
    border-radius: 5px;
    color: #ccc;
    display: none;
}
@media only screen and (max-width: 1023px) {
    .fix-left {
        position: fixed;
        left: 0 !important;
        bottom: 0;
        width: 100%;
        flex-direction: revert;
        top: auto;
        background: white;
        /* border-top: 1px solid #ccc; */
        box-shadow: 0px 0px 3px #aaa;
        align-items: center;
        padding: 0 10px;
    }
    .banner__search--background-img {
        background-position: top;
        position: relative;
        width: 100px;
        height: 100px;
        /* top: -45px; */
        margin: auto;
        /* background-size: contain; */
    }
    .banner__search h1 {
        font-size: 29px;
    }
    .banner__search {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* mobile */
@media only screen and (max-width: 739px){
    .py-4 {
        padding: 0 10px;
    }
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-search {
    }
    .header .header-mb-avarta {
        width: 35px;
        height: 35px;
        display: block;
    }
    .header .name-user {
        display: none;
    }
    .header .header-mb-logout {
        width: 33px;
        height: 35px;
        color: #ccc;
    }
    .header .logout {
        display: none;
    }
    .header .newblog {
        display: none;
    }
    .navbar-laravel .nav-item .nav-link .header-mb-newblog {
        display: block;
        width: 26px;
        height: 26px;
        color: #ccc;

    }
    .header {
        flex-wrap: inherit !important;
    }
    .navbar-laravel .logo {
        width: 100%;
    }
    .navbar-laravel .header ul.navbar-nav {
        position: absolute;
        right: -224px;
        transition: 0.5s ease;
        opacity: 1;
        
    }
    .navbar-laravel .header ul.show-navbar {
        right: 0 !important;
        background: #182031;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding-right: 65px;
    }
    .navbar-laravel .header .iconMenu-res {
        display: block;
        margin: auto;
        color: #fff;
        cursor: pointer;
    }
    .navbar-laravel .header .iconMenu-res svg {
        width: 33px;
        height: 33px;
        margin: auto;
    }
    .navbar-laravel .nav-item .nav-link .header-mb-logout {
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .header-mb-search {
        display: block;
    }
    .header .navbar-search {
        display: none;
    }
    .header .header-mb-search {
        display: block;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-nav .nav-item {
        margin-left: 10px;
    }
    .layout-main {
        order: 2;
    }
    .blog .blog-count-comment, .author-feature {
        display: none;
    }
    .profile .profile-head {
        flex-direction: column;
    }
    .profile-head .profile-head-img {
        margin: auto;
    }
    .profile-head-info .head-info-name {
        justify-content: center;
        flex-direction: column;
    }
    .profile-head-info .head-info-name h1 {
        margin: 0;
        text-align: center;
    }
    .profile-head-info .head-info-name a {
        width: 88px;
        margin: auto;
        height: 26px;
        padding: 0px 0;
        text-align: center;
        border: none;
    }
    .profile-head-info .profile-head-social {
        justify-content: center;
    }
    .blogs .nav-link {
        padding: 4px 15px;
    }
    .blogs .blog .blog-img {
        margin-right: 5px;
    }
    .profile-head-info .profile-head-statistic {
        display: flex;
        justify-content: center;
    }
    .listComment .comment .commentbody #commentname #name {
        display: block;
    }
    aside article .categories a {
        font-size: 11px;
    }
    .navbar-laravel {
        padding: 0 1rem;
    }
    .blog-other a, #timePost {
        font-size: 11px;
        margin: 0;
    }
    .blog .blog-body {
        padding-right: 0;
    }
    .blogs .blog__view-count-edit {
        position: relative;
        top: 0px;
        left: 12px;
        font-size: 11px;
    }
    .blogs .blog__view-count-edit .count-view svg {
        font-size: 11px;
        position: relative;
        top: -1px;
    }
    .blog .blog-title {
        padding: 0;
    }

    .banner__search p {
        font-size: 12px;
    }
    .banner__search form input {
    }
    

}
