body {
    
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}


.main {
    margin: 10px 0;
}
.background {
    /* background: white; */
    padding: 0px !important;
}
a {
    color: black;
    text-decoration: none !important;
}
#content-short h1, h2 ,h3, h4, h5,h6, p, span {
    font-size: 15px ;
}
#content-short p {
    margin: 0;
}
.navbar-laravel {
    /* background: #182031; */
    /* background:  transparent !important; */
    box-shadow:  none !important;
}

.categories-item {
    font-size: 12px;
    background: transparent;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgb(100 147 247);
    color: #fff;
    font-weight: normal;
    border-radius: 0.325em;
    margin:  5px 0;
    padding: 0.1em 0.5em;
}
.navbar-laravel .nav-item a span{
    color: white;
}
.navbar-laravel .nav-item .nav-link {
    color: white !important;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.navbar-laravel .nav-item .nav-link .header-mb-newblog {
    
    
}

.navbar-laravel .nav-item .nav-link .header-mb-logout, .navbar-laravel .nav-item .nav-link .header-mb-newblog {
    width: 16px;
    height: 16px;
    color: #ccc;
    margin-top: 0;
    margin-right: 5px;
}
.navbar-laravel .header {
    display:flex;
    margin-bottom: 0px;
    padding: 10px 0;
}
.navbar-laravel .header ul.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.navbar-laravel .header ul.navbar-nav li {
    margin-left: 15px;
}
.navbar-laravel .header ul.navbar-nav li form {
    margin-top: 5px;
}

.navbar-laravel .logo {
    font-family: 'Monoton', cursive;
    color: white !important;
    font-size: 25px;
}
.banner__search {
    position: relative;
    background: linear-gradient(344deg, #20c6b7 0%, #1e6e94 100%);
    border-radius: 12px;
    color: #fff;
    padding: 27px 0;
    min-height: 200px;
    margin-bottom: 30px;
}

.banner__search--background-img {
    background-image: url(https://aws1.discourse-cdn.com/netlify/original/3X/d/1/d11a2d581afdcccc4ed548b3886c6165f9ef12d9.png);
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: contain;
}
.banner__search h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.banner__search p {
    text-align: center;
    font-size: 14px;
    margin: 0px 0 15px 0;
}
.banner__search form {
    background: #182031;
    border: none;
    position: relative;
    max-width: 600px;
    margin: auto;
    border-radius: 7px;
    
}
.banner__search form button {
    background: transparent;
    outline: none;
    position: absolute;
    right: 8px;
    top: 9px;
    border: none;
    
}
.banner__search form button svg {
    color: #fff;

}
.banner__search form input {
    width: 100%;
    color: rgb(100 147 247);
    border: none;
    padding: 10px 11px;
    background: #051840;
    border-radius: 7px;

}
.banner__search form input::placeholder {
    color: #5488c7;
    font-size: 15px;
}
.layout-sidebar hr {
    height: 0.5px;
}

.blogs #blog-category {
    font-size:29px
}
.blogs .blog {
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    position: relative;
    border-bottom: 0.3px solid rgb(100 147 247 / 28%);
}
.blogs .blog:last-child {
    border-bottom: none;
}
.blogs .blog__view-count-edit {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
}
.blog .blog__view-count-edit .count-comment {
    margin-right: 10px;
}
.blog .blog__view-count-edit .count-view {
    
}
.blog .blog__view-count-edit .count-view svg{
    margin-bottom: 4px;
}
.blogs .blog .blog-img {
    width: 40px;
    height: 40px;
    display:block;
    margin-right: 15px;
}
.blogs .blog .blog-img img {
    width: 100%;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 7px;
}
.blog .blog-title {
    font-size: 18px;
    margin: 0;
    display: block;
    color: #fff;
    padding-right: 69px;

}

.blog .blog-other {
    display: inline-flex;
    font-size: 12px;
}
.blog .blog-body {
    padding-right: 30px;
    line-height: 28px;
}
.blog .blog-body #timePost {
    margin-bottom: 0;
}
.blog .author-delete-edit a {
    margin-right: 5px;
    font-size: 13px;
    color: #fff;
}
.blog .blog-other a {
    color: #5488c7;
    font-size: 13px;
    /* font-weight: bold; */
    margin-right: 5px;
}
.blog .blog-categories #blog-category {
    font-size: 11px;
    background: #ddd;
    margin-right: 5px;
    padding: 2px 11px;
    border-radius: 10px
}

#delComment {
    cursor: pointer;
}

.form-search {
   position: relative; 
   width: 300px;
   margin: 0;
}
.form-search input {
    width: 100% !important;
    height: 25px !important;
}
.form-search input[type="text"]:focus {
    border: 1px solid #ccc !important;
    box-shadow: 0 0 0 0.2rem rgb(250 250 251 / 25%);
}
.form-search button {
    background: transparent;
    color: #ccc;
    border: none !important;    
    position: absolute;
    right: -5px;
    top: -6px;

}
.form-search button:hover {
    color: #ccc !important;
    background: transparent !important;
}
.add-category {
    background: transparent;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
    color: black;
}
.add-category:focus {
    border: none !important;
}
.point {
    display: flex;
    margin-left: 10px;
}
.point .point-icon {
    display: flex;
    flex-direction: column;
}

.point .point-icon .bi-caret-up-fill {
    position: relative;
    top: 1px;
}
.point .point-icon .bi-caret-down-fill {
    position: relative;
    top: -4px;
}